allow audioserver unlabeled:dir getattr;
allow cameraserver proc:file read;
allow cameraserver unlabeled:dir getattr;
allow fsck unlabeled:dir getattr;
allow init misc_logd_file:dir write;
allow keystore unlabeled:dir getattr;
allow lmkd unlabeled:dir getattr;
allow logd device:file open;
allow logd unlabeled:dir getattr;
allow mediacodec proc:file read;
allow mediacodec unlabeled:dir getattr;
allow mediacodec unlabeled:dir search;
allow mediaextractor unlabeled:dir getattr;
allow mediaextractor unlabeled:dir search;
allow mediaserver unlabeled:dir getattr;
allow netd unlabeled:dir getattr;
allow rild unlabeled:dir getattr;
allow shell unlabeled:dir getattr;
allow shell unlabeled:dir search;
allow tzdatacheck unlabeled:dir getattr;
allow ueventd unlabeled:dir search;
allow vdc unlabeled:dir getattr;
allow zygote device:file open;
allow zygote unlabeled:dir getattr;
allow zygote unlabeled:dir search;
allow shell unlabeled:file getattr;
allow rild unlabeled:file read;
